# /full/path/to/your-generative-app/requirements.txt
streamlit
google-generativeai
google-cloud-aiplatform
pillow
google-genai
mediapy
moviepy
google-auth-oauthlib 
google-api-python-client
google-auth-httplib2